.new-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.new-pokemon main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.new-pokemon main form {
  width: 100%;
}

.new-pokemon main .preview-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

/* Media Queries */

/* Desktop */

@media screen and (min-width: 1080px) {
  .new-pokemon main {
    min-height: 50vh;
    overflow: auto;
    flex-direction: row;
  }

  .new-pokemon main form {
    width: 50%;
  }

  .new-pokemon main .preview-container {
    width: 50%;
    margin-top: 0;
  }
}
