.single-pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.single-pokemon .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: rgb(112, 112, 112);
}

.single-pokemon .heading h1 {
  font-size: 3rem;
  font-weight: 900;
}

.single-pokemon .heading svg {
  color: rgb(112, 112, 112);
  font-size: 3.5rem;
  margin-right: 10px;
  font-weight: 900;
  margin-bottom: 5px;
  transition: all 0.5s ease-in-out;
}

.single-pokemon .heading svg:hover {
  color: cyan;
  cursor: pointer;
}

.img-container {
  margin-top: 15px;
  width: 100%;
  height: 50%;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.single-pokemon .img-container img {
  width: 100%;
  height: 100%;
}

.single-pokemon .info-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
}

.single-pokemon .info-container .info {
  padding: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.single-pokemon .info-container .stats {
  margin-top: 10px;
  height: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: cyan;
  border-radius: 16px;
}

.single-pokemon .info-container .stats .stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  width: 50%;
}

.single-pokemon .info-container .stats .stats-item label {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}

.single-pokemon .info-container .stats .stats-item h4 {
  font-weight: 700;
}

.single-pokemon .info-container .stats .stats-item h4 span {
  margin-left: 5px;
}

.single-pokemon .info-container .type,
.single-pokemon .info-container .weaknesses {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  min-height: 100px;
}

.single-pokemon .info-container .type label,
.single-pokemon .info-container .weaknesses label {
  font-weight: 2.5rem;
  font-weight: 900;
}

.single-pokemon .info-container .type .pills,
.single-pokemon .info-container .weaknesses .pills {
  margin-top: 5px;
}

.single-pokemon .info-container .type .pills div,
.single-pokemon .info-container .weaknesses .pills div {
  margin-left: 15px;
  font-size: 1.5rem;
  margin-top: 8px;
}

.single-pokemon .info-container .type .pills div:first-of-type,
.single-pokemon .info-container .weaknesses .pills div:first-of-type {
  margin-left: 0;
}
