.edit-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.edit-pokemon main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.edit-pokemon .heading {
  display: flex;
  align-items: center;
}

.edit-pokemon .heading svg {
  color: rgb(112, 112, 112);
  font-size: 3.5rem;
  margin-right: 10px;
  font-weight: 900;
  margin-bottom: 5px;
  transition: all 0.5s ease-in-out;
}

.edit-pokemon .heading svg:hover {
  color: cyan;
  cursor: pointer;
}

.edit-pokemon main form {
  width: 100%;
}

.edit-pokemon main .preview-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

/* Media Queries */

/* Desktop */

@media screen and (min-width: 1080px) {
  .edit-pokemon main {
    min-height: 50vh;
    overflow: auto;
    flex-direction: row;
  }

  .edit-pokemon main form {
    width: 50%;
  }

  .edit-pokemon main .preview-container {
    width: 50%;
    margin-top: 0;
  }
}
