* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.page {
  margin-top: 12vh;
  display: flex;
  justify-content: center;
}

/* Media Queries */

/* Tablet */
@media (min-width: 768px) {
  .page {
    margin-top: 15vh;
  }
}
